/*PARENTS*/
    html{
        margin: 5px auto auto auto;
        max-width: 700px;
        background-color: #252138;
    }
    body {
        background-color: #252138;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align: middle;
        color: #231942;
    }
/*FILLABLES, INTERACTABLES*/
    input, select {
        margin: 10px;
        border: solid 5px #e0b1cb;
        border-radius: 10px;
        background-color: #e0b1cb;
        color: rgb(110, 0, 101);
    }
    textarea {
        margin: 10px;
        border: solid 5px #e0b1cb;
        border-radius: 10px;
        background-color: #e0b1cb;
        width: 75%;
        max-width: 500px;
    }
    button {
        margin: 10px;
        padding: 3px;
        border-radius: 10px;
        background-color: #e0b1cb;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #231942;
    }
    a {
        margin: 10px;
        display: block;
        text-align: center;
        border-radius: 10px;
        background-color: #e0b1cb;
        padding: 3px 0 3px 0;
        font-weight: bold;
        color: #231942;
    }
    .result {
        margin: 10px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        border: solid 5px #e0b1cb;
        border-radius: 50px;
        background-color: #e0b1cb;
        padding: 3px 0 3px 0;
        height: 18px;
    }
/*TEXT*/
    h1 {
        text-align: left;
        padding: 3px 0 3px 0
    }
    h2 {
        text-align: center;
        border-radius: 25px;
        padding: 3px;
    }
    p {
        margin: 0 10px 5px 10px;
        border-radius: 10px;
        padding: 5px;
    }
    ul {
        columns: 2;
        margin: 20px 0 20px 0;
    }
    .raise {
        position: relative;
        bottom: 10px;
    }
/*SOURCES*/
    img {
        width: 100%;
        border-radius: 10px;
    }

    .paragraphImgRight {
        float: right;
        width: 30%;
    }

    .paragraphImgLeft {
        float: left;
        width: 30%;
    }

    .profileImg {
        width: 35%;
    }
/*FLEX BOX*/
    .container {
        display: flex;
        flex-direction: column;
        background-color: #be95c4;
        padding: 5px;
        border-radius: 10px;
        margin: 10px;
    }

    .item {
        
    }