/*PARENTS*/
    html{
        height: auto;
        margin: 5px auto auto auto;
        max-width: 700px;
        background-color: #5e548e;
    }

    body {
        background-color: #9f86c0;
        border: solid 5px #9f86c0;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        display: table-cell;
        vertical-align: middle;
        color: #231942;
    }

    div {
        display: block;
        background-color: #be95c4;
        padding: 5px;
        border-radius: 10px;
        margin: 10px;
    }



/*FILLABLES, INTERACTABLES*/
    input, select {
        margin: 0 0 20px 0;
        border: solid 5px #e0b1cb;
        border-radius: 10px;
        background-color: #e0b1cb;
        color: rgb(110, 0, 101);
    }
    textarea {
        margin: 0 0 20px 0;
        border: solid 5px #e0b1cb;
        border-radius: 10px;
        background-color: #e0b1cb;
        width: 75%;
        max-width: 500px;
    }
    button {
        margin: 3px;
        padding: 5px;
        border-radius: 10px;
        background-color: #e0b1cb;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #231942;
    }
    a {
        display: block;
        text-align: center;
        border-radius: 10px;
        background-color: #e0b1cb;
        padding: 3px 0 3px 0;
        margin: 3px;
        font-weight: bold;
        color: #231942;
    }
    .result {
        color: rgb(110, 0, 101);
        margin: 0 70px 0 70px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        border: solid 5px #e0b1cb;
        border-radius: 50px;
        background-color: #e0b1cb;
        padding: 3px 0 3px 0;
        height: 18px;
    }




/*TEXT*/
    h1 {
        text-align: left;
        padding: 3px 0 3px 0
    }
    h2 {
        text-align: center;
        border-radius: 25px;
        padding: 3px;
    }
    p {
        margin: 0 10px 5px 10px;
        border-radius: 10px;
        padding: 5px;
    }
    ul {
        columns: 2;
        margin: 20px 0 20px 0;
    }
    li {
        margin: 0 3px 3px 3px;
    }

    .second {
        clear: left;
    }

    .relativeExample {
        position: relative;
    }

    .raise {
        position: relative;
        bottom: 10px;
    }

    .absoluteExample {
        position: absolute;
        left: 0px;
    }

    .zIndexExample {
        position:absolute;
        left: 250px;
        z-index: 1;
    }



/*SOURCES*/
    img {
        width: 50%;
        border-radius: 10px;
        padding: 5px;
    }

    .exampleImg {
        display: block;
        margin: auto;
    }

    .paragraphImgRight {
        float: right;
        width: 30%;
    }

    .paragraphImgLeft {
        float: left;
        width: 30%;
    }



/*GRID MAPPING*/

    .wrapper {
        display: grid;
        grid-template-columns: (3, 1fr);
        grid-template-rows: (3, 1fr);
        height: auto;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
        margin: 5px;
        height: auto;
    }
    .two {
        grid-column: 2;
        grid-row: 1;
        margin: 5px;
        height: auto;
    }
    .three {
        grid-column: 3;
        grid-row: 1;
        margin: 5px;
        height: auto;
    }
    .twoThree {
        grid-column: 2 / span 3;
        grid-row: 1;
        margin: 5px;
        height: auto;
    }
    .oneTwo {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin: 5px;
        height: auto;
    }
